<div class="row">
    <input type="text" placeholder="Enter 1st No"
        [ngModel]="firstNo" (ngModelChange)="onFirstNoChange($event)">
    <select [(ngModel)]="operation">
        <option>+</option>
        <option>-</option>
        <option>*</option>
    </select>
    <input type="text" placeholder="Enter 2nd No"
        [ngModel]="secondNo" (ngModelChange)="onSecondNoChange($event)">
</div>
<div class="row">
    <button (click)="onCalculate()" [disabled]="isDisabled">Calculatate</button>
</div>
<div class="row">
    <input type="text" placeholder="The ans" readonly [value]="ans">
</div>
<div class="row">
    First No: {{ firstNo }}<br>
    Operation: {{ operation }}<br>
    Second No: {{ secondNo }}<br>
    <span *ngIf="isAnsVisible">Ans: {{ ans }}</span>
</div>