<div class="success" *ngIf="showSuccess">
    Book saved!
</div>
<div class="error" *ngIf="showError">
    Error in saving the book
</div>
<form [formGroup]="bookFormGroup" (ngSubmit)="onSave()">
    <p>
        <input type="text"
            name="title"
            required
            placeholder="Title of the book"
            formControlName="title">
    </p>
    <div class="validation-error" *ngIf="title.dirty && !title.valid">
        Title is required
    </div>
    <p>
        <input type="number"
            name="price"
            placeholder="Price of the book"
            formControlName="price">
    </p>
    <p>
        <input
            type="number"
            name="pages"
            required
            placeholder="Pages of the book"
            formControlName="pages">
    </p>
    <div class="validation-error" *ngIf="pages.dirty && !pages.valid">
        Pages is required
    </div>
    <button type="submit" [disabled]="!bookFormGroup.valid">Save</button>
    <a (click)="onCancelLink()">Cancel</a>
</form>