/* You can add global styles to this file, and also import other style files */

.error {
    color: white;
    background-color: red;
    margin: 10px;
}

.success {
    margin: 20px;
    color: white;
    background-color: green;
}